

.car-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-table th,
.car-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.car-table th {
  background-color: #007bff;
  color: #fff;
}

.car-table tbody tr:hover {
  background-color: #f5f5f5;
}

.car-table a {
  color: #007bff;
  text-decoration: none;
}

.car-table a:hover {
  text-decoration: underline;
}
/* carSearchForm.css */

/* Apply flexbox to form-container */
.form-container {
  display: flex;
  flex-wrap: wrap;
}

/* Style form-group divs */
.form-group {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing as needed */
}

/* Ensure input elements have the same width */
.form-group input,
.form-group .react-datepicker-wrapper {
  width: 100%;
}

/* Override react-datepicker styles to display date pickers side by side */
.form-group .react-datepicker-popper {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 0 !important;
  z-index: 999 !important;
}
.button-cars {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}